

  
  <body> 
  
 
  <div class="movie-container">
  <div class="poster"></div>
  <div class="details">
    <h1>Movie Title</h1>
    <p>Movie Description</p>
    <div style="display: flex; align-items: center; margin-bottom: 15px;">
      <p style="margin-right: 20px;">Release Date: January 1, 2023</p>
      <p style="margin-right: 20px;">Director: John Doe</p>
      <p>Genre: Action</p>
    </div>
    <div>
      <p>Language: English</p>
      <p>Runtime: 120 minutes</p>
      <p>Overall Rate: 9</p>
    </div>
    <button><span class="star">&#9733;</span> Add Rating</button>
   
  </div>
</div>






