<head>

  <!-- Add these CSS and JS links in the <head> section of your HTML file -->
<!-- <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->

</head>




<h3 class="genre-heading"> Comedy</h3>
  <section class="movie-section">
    <div class="card">
      <img src="assets/movie1.jpg" class="card-img-top" alt="Movie Image">
      <div class="card-body">
        <h5 class="card-title" >Avengers</h5> 
      </div>
    </div>
    <div class="card">
      <img src="assets/movie2.jpg" class="card-img-top" alt="Movie Image">
      <div class="card-body">
        <h5 class="card-title">Captain America</h5>
      </div>
    </div>
    <div class="card">
      <img src="assets/movie3.jpg" class="card-img-top" alt="Movie Image">
      <div class="card-body">
        <h5 class="card-title">Avatar 2013</h5>
      </div>
    </div>
    <div class="card">
      <img src="assets/movie4.jpg" class="card-img-top" alt="Movie Image">
      <div class="card-body">
        <h5 class="card-title">Game of Thrones</h5>
      </div>
    </div>
    <div class="card">
      <img src="assets/movie5.jpg" class="card-img-top" alt="Movie Image">
      <div class="card-body">
        <h5 class="card-title">Titanic</h5>
      </div>
    </div>
    <div class="card">
      <img src="assets/movie6.jpg" class="card-img-top" alt="Movie Image">
      <div class="card-body">
        <h5 class="card-title">Harry Potter and the Chamber of Secrets</h5>
      </div>
    </div>
    <div class="card">
      <img src="assets/movie7.jpg" class="card-img-top" alt="Movie Image">
      <div class="card-body">
        <h5 class="card-title">Spiderman: Far From Home</h5>
      </div>
      
    </div>
    <div class="card">
      <img src="assets/movie7.jpg" class="card-img-top" alt="Movie Image">
      <div class="card-body">
        <h5 class="card-title">Spiderman: Far From Home</h5>
      </div>
      
    </div>
    


 

    
</section>


